<!DOCTYE html>
<html> 
	<head> 
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>

	<body>
		<h1> Estimado usuario <%=@nombre%> : </h1>

		<center>
			<h3> Es hora de tomarse su tratamiento <b><%=@nombretrat%></b> 
				<br/>
				<br/>
				cuya hora asignada para tomarselo es <b><%=@horarec%></b> </h3>
		 </center>
	</body>
</html>