<!DOCTYE html>
<html> 
	<head> 
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>

	<body>
		<h1> Estimado usuario <%=@nombre%> : </h1>

		<center>
			<h3> Su nueva contraseña para ingresar al sistema de recordatorio de tratamientos es: <b><%=@clave%></b> 
				<br/>
				<br/>
				Puede iniciar sesión y cambiarla si lo desea </h3>
		 </center>
	</body>
</html>