<html>

	<body>

	<%= form_tag('/usuarios/editar') do %>
		
		<input name="correo" type="text">
		<input name="clave" type="password">
		<input name="token" type="hidden" value="@tokensito"/>

		<button type="submit">
	<%end %>
</body>

</html>